body{
  background-color: #FFF5E1;
}
hr{
  border-style: dotted none none;
  border-width: 10px;
  width: 5%;
  border-color: #06283D;
}
h1{
  color: #242F9B;
}
h2{
  color: #005555;
}

h3{
  color: #E60965;
}
.circular{
  border-radius: 100%;
}
